# Rust
target/
**/*.rs.bk
Cargo.lock

# Node
node_modules/
dist/
dist-ssr/
*.local

# Tauri
src-tauri/target/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk

# Environment / Logs
.env
.env.*
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
